*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#key{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
}